p {
  color: red;
  font-size: 0.8em;
}

h2{
  text-align: center;
}

button{
  width: 100%;
}

input{
  margin-bottom: 20px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.has-error {
  border: 1px solid red;
}

.fontpassword {
  position: relative;

  i {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 32px;
    color: #777;
  }
}

.form-control{
  position: relative;
  p{
    position: absolute;
    top: 60px;
    left: 5px;
  }
}


