.user-list {
  position: relative;
}
.btn-inline {
  position: absolute;
  top: 30px;
  left: 180px;
  background-color: transparent;
  padding: 0;
  color: #6c69ff;
  box-shadow: none;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  &:hover {
    text-decoration: underline;
  }
}
