<h2>Friends</h2>
<app-search
  (onClickEvent)="searchFriend($event)"
  (inputEvent)="fillField($event)"
  [label]="label"
></app-search>

<div *ngIf="searchName.trim().length === 0; else searchList">
  <div class="user-list" *ngIf="friendsList">
    <h2>My Friends</h2>
    <div>
      <app-friend-item
        *ngFor="let friend of friendsList"
        [friend]="friend"
        (remove)="removeFromList($event)"
      ></app-friend-item>
    </div>

    <div *ngIf="!friendsList.length">
      <p>You don't have any friends</p>
    </div>
  </div>
</div>

<ng-template #searchList>
  <div class="user-list">
    <div class="search-panel">
      <h2>Search Field: {{ searchName }}</h2>
      <button class="btn-inline" (click)="clearSearch()">clear search</button>
    </div>

    <div>
      <app-friend-item
        *ngFor="let friend of friendsList"
        [friend]="friend"
        (remove)="removeFromList($event)"
      ></app-friend-item>
    </div>
  </div>
</ng-template>
