.games-controls {
  padding-left: 10px;
}

.price-filter_title,
.tag-filter_title {
  font-weight: normal;
  margin-bottom: 15px;
}

.tag-filter_title {
  margin: 0;
}

.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px 5px 5px;
}

.checkbox-wrap {
  margin-bottom: 20px;
  padding: 0 20px;
}

.range_input,
.range_input:hover,
.range_input:active {
  margin: 0 auto;
  width: 80%;
}
.range_input--value {
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.tag-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tag-filter_item--checkbox {
  display: inline-flex;
  width: fit-content;
}
.tag-filter_item--label {
  display: inline-flex;
}
