<div class="game-list_item game">
  <div class="game-header">
    <h4 class="game-header_title">{{ game.title }}</h4>
    <span class="game-header_price" *ngIf="!game.inLibrary">{{ game.price }} UAH</span>
  </div>
  <div class="game-content">
    <p class="game-content_desc">
      {{ game.description }}
    </p>
    <div class="game-button-control" *ngIf="!game.inLibrary; else inLibrary">
      <button class="game-add_button" (click)="addToLibrary(game)" *ngIf="isLoggedIn">
        Add to Library
      </button>
    </div>
    <ng-template #inLibrary>
      <div class="game-button-control_library" *ngIf="isLoggedIn">
        <button class="controls_button game-download_button">Download</button>
        <button class="controls_button game-share_button">Share</button>
      </div>
    </ng-template>
  </div>
  <button
    *ngIf="game.inLibrary && isLoggedIn"
    class="game-remove_button"
    (click)="removeFromLibrary(game)"
    title="remove from library"
  >
    &#10005;
  </button>
</div>
