button {
  width: 100%;
}

.game {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;

  &-list_item {
    min-width: 270px;
    border-radius: 4px;
  }

  &-header {
    position: relative;
    color: white;
    background-color: #bdbcff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
    height: 150px;
    &_title {
      font-size: 24px;
      font-weight: normal;
    }
    &_price {
      position: absolute;
      bottom: 3px;
      right: 8px;
      font-size: 24px;
      line-height: 28px;
    }
  }
  &-content {
    padding: 16px;
    text-align: justify;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-overflow: clip;
    &_desc {
      height: 115px;
      font-size: 12px;
      overflow-y: hidden;
    }
  }

  &-remove_button {
    width: 25px;
    height: 25px;
    outline-style: initial;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &-button-control_library {
    display: flex;
    gap: 10px;
  }

  &-download_button {
    width: 50%;
  }
  &-share_button {
    padding: 7px 0;
    width: 50%;
    background-color: transparent;
    color: #6c69ff;
    border: 1px solid #6c69ff;
    transition: all 0.3s linear;
    outline: none;
    &:hover {
      background-color: #6c69ff;
      color: #fff;
    }
  }
}

@media screen and (max-width: 520px) {
  .game {
    &-button-control_library {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-download_button {
      width: 100%;
    }
    &-share_button {
      width: 100%;
    }
  }
}
