/* Header styles start */
.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
  padding: 8px 20px;
  height: 56px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 64px;

  &-logo {
    a {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-item,
  .active-link {
    color: #6c69ff;
  }
}

/* Header styles end */
/* style for main, where <router-outlet> lives*/


@media screen and (max-width: 520px) {
  .header {
    margin-bottom: 32px;
    flex-direction: column;
    height: auto;
    &-logo {
      margin-bottom: 5px;
    }
  }
  .main {
    padding: 10px;
    margin: 0 auto 32px;
  }

  .navbar-item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    margin: 0;
  }

  a {
    font-size: 14px;
  }
  .main {
    margin: 0;
    padding: 20px 10px;
    max-width: 100vw;
  }
}
