.games {
  display: grid;
  grid-template-columns: auto 1fr;
}
.games-list {
  border-right: 1px solid #777;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 10px;
}

.games-filter {
  min-width: 203.5px;
}

@media screen and (max-width: 700px) {
  .games {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .games-filter {
    order: 1;
  }

  .games-list {
    order: 2;
    border-right: none;
  }
}
