<h2>Games</h2>
<app-search [label]="label" (onClickEvent)="searchGame($event)"></app-search>
<h2>Featured Games</h2>
<div class="games">
  <div class="games-list">
    <app-card-item *ngFor="let game of gamesList" [game]="game"></app-card-item>
  </div>
  <div class="games-filter">
    <app-games-filter></app-games-filter>
  </div>
</div>
<div [ngClass]="{'error-modal': !isErrorModalShown, 'error-modal_shown': isErrorModalShown}">
  <h2 class="error-modal_title">{{error?.title}}</h2>
  <p class="error-modal_text">{{error?.message}}</p>  
</div>
<div [ngClass]="{'backdrop': !isErrorModalShown, 'backdrop-shown': isErrorModalShown}"></div>
