.games {
  display: grid;
  grid-template-columns: auto 1fr;
}
.games-list {
  border-right: 1px solid #777;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 10px;
}

.games-filter {
  min-width: 203.5px;
}

.error-modal {
  display: none;
}
.error-modal_shown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  padding: 50px 0;
  border: 2px solid #ff6f6f;
  background-color: #bdbcff;
  color: whitesmoke;
}
.error-modal_title {
  font-size: 24px;
}
.error-modal_text {
  font-size: 18px;
}
.backdrop {
  display: none;
}
.backdrop-shown {
  display: block;
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 700px) {
  .games {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .games-filter {
    order: 1;
  }

  .games-list {
    order: 2;
    border-right: none;
  }
}
