h2 {
  margin: 10px 0;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}
.search-form_input--container {
  width: 100%;
}
.games {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 100%;
}
.games-list {
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 340px;
  gap: 5px;
  min-width: 510px;
}
.games-list_item {
  min-width: 170px;
  border-radius: 4px;
}
.game-header {
  position: relative;
  color: white;
  background-color: lightsteelblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
}
.game-header_title {
  position: absolute;
  top: 8px;
  left: 8px;
}
.game-header_price {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.game-content {
  height: 170px;
  padding: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.game-content_desc {
  height: 115px;
  font-size: 12px;
  overflow-y: hidden;
}
.game-library_button {
  height: 32px;
  font-size: 12px;
  margin: 8px 0;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #6c69ff;
  width: 100%;
}
.games-controls {
  border-left: 1px solid black;
  padding-left: 5px;
}
.price-filter {
  padding-bottom: 20px;
}
.range_input,
.range_input:hover,
.range_input:active {
  width: 80%;
  cursor: pointer; /* not working */
}
.range_input--value {
  margin: 0 auto;
}
.tag-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
}
.tag-filter_item--checkbox {
  display: inline-flex;
  width: fit-content;
  margin: 5px;
}
.tag-filter_item--label {
  display: inline-flex;
}
