<div class="login-form">
  <h2>Profile</h2>

  <form [formGroup]="userData"
        (submit)="editUserProfile()">
    <div>
      <label>Username</label>
      <input type="text"
             placeholder="Username"
             formControlName="displayName"
      />
    </div>
    <div>
      <label>Email</label>
      <input
        type="email"
        readonly
        placeholder="email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text"
             placeholder="Age"
             formControlName="userAge"/>
    </div>
    <button class="btn-edit"
            [disabled]="!userData.valid || userData.pristine"
            type="submit">Save</button>
  </form>
</div>
